#nav_logo {width:110px;position:relative; top:6px; }

#logo {margin-top:130px; }

.wrapper {position:relative; width:100%; }
#top_background{position:absolute; z-index:0; bottom:0px; right:0px; width:40%;}
