/**
 * 	general
 */
.productName {font-size:150%; }
.productName a {color:#FF6600 !important;}

#top .me {width:100%;}

.wrapper-first {padding:8em 0px 8em 0px !important;}

#features .fa:before {display:none}
#features .fa img {width:100%; margin:0 auto;}

img {box-shadow:1px 3px 5px #cccccc;}



/**
 * 	maptime
 */
#pricing #PLANS_R table td {background-color:#ffffff;}
#pricing #PLANS_R table td#grey {background-color:#f1f1f1;}
#pricing #PLANS_R .awesome {margin:15px 0px 15px 0px; }
#pricing #PLANS_R .price td{font-size:150%;}



/**
 * 	electionpath
 */
#electionpath-usecases iframe {width:75%; margin:0 auto; height:400px;  }
#electionpath-usecases .image img {height:60px; width:99%; margin:0 auto; }
#electionpath-usecases .box p {text-align:center }



/**
 * 	citybuddy
 */
#citybuddy-features .box img {width:50%; margin:0 auto; box-shadow:0px 0px 0px !important; }
#citybuddy_scenario .box img {width:70%; margin:0 auto; box-shadow:0px 0px 0px !important; }


/**
 * 	responsive
 */
@media (min-width:1024px){
	
	
	/**
	 * 	electionpath
	 */
	.slide-electionpath-video {height:500px !important; }
}


