<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/notepad" />
            <mimeMap fileExtension=".woff" mimeType="application/notepad" />
    </staticContent>
    <handlers>
      <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\python.exe -u &quot;%s&quot;" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules />
    </rewrite>
  </system.webServer>
</configuration>
